.home {
    position: relative;
}

.home__container{
    row-gap: 3rem;
    padding-top: 2rem;
}

.home__img{
    width: 300px;
    justify-self: center;
}

.home__data{
    text-align: center;
}
 .home__title{
    font-size: 22px;
    margin-botom: 1rem;
 }

 .home__title img{
    widht: 40px;
 }

 .home__title div{
    display: flex;
    align-items: center;
    justify-contenl: center;
    column-gap: 5rem;
 }

 .home__description{
    padding:0 1rem;
    margin-bottom: 2.5rem;
 }
  
 .buttom{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--first-color);
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    color: #fff;
    font-weight: var(--font-medium);
    transition: background .3s;
 }

 .buttom i{
    font-size: 1.5rem;
    transition: transform .3s;
 }